@page
@model Mantenimiento.Pages_Servicios.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container" style="width: 50%;">
<div>
    <h2 class="text-info">Borrar servicio</h2>
<br>
    <div class="shadow-lg p-3 mb-2 bg-body rounded fondo1">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.FechaCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Tecnico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Tecnico.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio.Vehiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Vehiculo.Placa)
        </dd>
    </dl>
    
     <form method="post">

        <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" >Delete</a>|
        <a asp-page="./Index" class="btn btn-success">to return</a>

        <div class="modal fade" id="deleteModal" tabindex="-1"  aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- header -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><i class="fa-solid fa-close"></i></button>
                    </div>
                    <!-- body -->
                    <div class="modal-body">
                        <p>¿Estás seguro de eliminar este servicio?</p>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="hidden" asp-for="Servicio.ServicioID" />
                        <input type="submit" value="Delete" class="btn btn-primary" />
                    </div>
                </div>        
            </div>
        </div>

    </form>

</div>
</div>
</div>
