@page
@model Mantenimiento.Pages_Tecnicos.DetailsModel

@{
    ViewData["Title"] = "Details";
}



<div>
    <h2 class="text-info">Detalles</h2>
<br>
    <hr />
    <div class="shadow-lg p-3 mb-2 bg-body rounded fondo1">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Cargo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Cargo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tecnico.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tecnico.Telefono)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tecnico.ID">Edit</a> |
    <a asp-page="./Index" class="btn btn-success">to return</a>
</div>
</div>
